body {
	font-family:'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

ul {
    list-style:none;
    margin:50px 0 20px 20px;
    padding:0px 10px 0 30px;
    border-left:1px solid #999;
    background:#fff;
}

ul.primary {
    width:600px;
    margin:50px auto 40px auto;
}

ul:before {
    content:'';
    font-size:20px;
    display:inline-block;
    margin:-20px 0 0 -31px;
    width:20px;
    height:20px;
    background:none;
    border-radius: 100% 0 0 0;
    border:1px solid #999;
    border-width:1px 0 0 1px;
}

ul:after {
    content:'';
    font-size:20px;
    display:inline-block;
    margin:10px 0 0 -31px;
    width:20px;
    height:20px;
    background:none;
    border:1px solid #999;
    border-width:0 0 1px 0;
}

ul ul {
    
}

ul ul ul {

}

li {
    padding:10px;
}

h1 {
    font-size: 36px;
    text-align:center;
    color:#fff;
    background:#005eb8;
    padding:15px 20px 20px 20px;
}

h2, h3, h4, h5 {
    margin:0;
    padding:0;
}

h2, ul p {
    font-size: 18px;
}

h3, ul ul p {
    font-size: 16px;
}

h4, ul ul ul p {
    font-size: 14px;
}

h5, ul ul ul ul p {
    font-size: 12px;
}

p {
    margin:0;
    padding:4px 0 4px 0;
}

table.attributes {
    margin:10px auto 40px auto;
    padding:0;
    border:1px solid #ccc;
}

table.attributes th {
    text-align:right;
}

table.attributes th,td {
    padding:4px;
}

table.attributes thead th {
    text-align:center;
    font-size:24px;
    background:#ddeaf6;
    padding:4px 20px 4px 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
    font-weight:normal;
    position: absolute;
    margin-left:10px;
    margin-top:-5px;
    z-index: 1;
    white-space: nowrap;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
